pi/flows/flows_version_1.json
[{"type":"tab","id":"49e8b19b.ef5878","label":"BLE - Insert DB"},{"type":"tab","id":"92194a4a.6de6b8","label":"BLE - Publish to Cloud"},{"type":"tab","id":"6896a9.ff976958","label":"BLE - Subcribe to Cloud"},{"id":"884e159a.0272a8","type":"timeseries","hostname":"localhost","port":"27018","db":"iot","name":""},{"id":"22f29671.0a03b2","type":"timeseries out","timeseries":"884e159a.0272a8","name":"Insert Timeseries","baseTimeSeriesTable":"sensors","x":1028.2002410888672,"y":706.2000427246094,"z":"49e8b19b.ef5878","wires":[]},{"id":"d0153d36.2feac","type":"timeseries in","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","tscolumn":"data","unit":"seconds","range":"15","calendarRange":"15","calendarUnit":"second","ids":"id","filter_id":"","timeType":"current_time","mode":"continuous","rules":[{"t":"AVG","v":"magx"}],"x":168.0000457763672,"y":245.99998474121094,"z":"92194a4a.6de6b8","wires":[["d5cb8070.7dd28","694b59cb.5a36a8"]]},{"id":"7f6e83bb.80917c","type":"comment","name":"Read BLE Data and Insert into Database","info":"Read BLE data from readBle.js program then\nposting to node-red.  This payload is then\ninserted into the Timeseries Database.","x":180,"y":38,"z":"49e8b19b.ef5878","wires":[]},{"id":"182e7766.e7d189","type":"comment","name":"Summarize data from the Timeseries Database and Publish to the Cloud","info":"Query data from the Timeseries Database and\nsummarize the data.  Then Publish that payload\nto the cloud.","x":333,"y":86,"z":"92194a4a.6de6b8","wires":[]},{"id":"1ad3a325.e52c5d","type":"comment","name":"Sample - Subscribe to MQTT and display","info":"","x":180,"y":120,"z":"6896a9.ff976958","wires":[]},{"id":"5c96df5b.6a0578","type":"json","name":"","x":536.1999969482422,"y":245.20001220703125,"z":"92194a4a.6de6b8","wires":[[]]},{"id":"9fd8f42.20ef288","type":"debug","name":"","active":true,"console":"false","complete":"false","x":548.1999969482422,"y":245.1999969482422,"z":"6896a9.ff976958","wires":[]},{"id":"283c57de.1e0d9","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.1999969482422,"y":330.20001220703125,"z":"92194a4a.6de6b8","wires":[["f7039f9e.b30e"]]},{"id":"f7039f9e.b30e","type":"timeseries in","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","tscolumn":"data","unit":"seconds","range":"1","calendarRange":"1","calendarUnit":"second","ids":"id","timeType":"current_time","mode":"continuous","rules":[{"t":"AVG","v":"accelY"}],"x":174.1999969482422,"y":442.20001220703125,"z":"92194a4a.6de6b8","wires":[["b9079776.56a468","6f98880d.dd205"]]},{"id":"ff1c175e.761e8","type":"json","name":"","x":548.2000122070312,"y":435.20001220703125,"z":"92194a4a.6de6b8","wires":[[]]},{"id":"694b59cb.5a36a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":393.20001220703125,"y":194.1999969482422,"z":"92194a4a.6de6b8","wires":[]},{"id":"b9079776.56a468","type":"debug","name":"","active":false,"console":"false","complete":"false","x":412.1999969482422,"y":376.1999969482422,"z":"92194a4a.6de6b8","wires":[]},{"id":"c362b2ef.3c9d5","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":129,"z":"92194a4a.6de6b8","wires":[["d0153d36.2feac"]]},{"id":"d5cb8070.7dd28","type":"iotf-transform","name":"","x":375.20001220703125,"y":245.1999969482422,"z":"92194a4a.6de6b8","wires":[["5c96df5b.6a0578"]]},{"id":"6f98880d.dd205","type":"iotf-transform","name":"","x":391.20001220703125,"y":431.20001220703125,"z":"92194a4a.6de6b8","wires":[["ff1c175e.761e8"]]},{"id":"a16ec227.ec19a8","type":"sensorTag","name":"sensorTag","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"magnetometerPeriod":"50","accelerometer":true,"accelerometerPeriod":"50","gyroscope":true,"gyroscopePeriod":"50","luxometer":true,"luxometerPeriod":"1000","keys":true,"x":100.19999694824219,"y":428.20001220703125,"z":"49e8b19b.ef5878","wires":[["c6f6e909.390918","4142b483.bebd4c","742b6447.8bd49c"]]},{"id":"9d5ef489.740598","type":"iot-datasource","name":"Gyroscope X","historyCount":100,"x":829.1999359130859,"y":20,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"32aeec97.e83034","type":"sensortag-transform","name":"Transform ","x":701.2001190185547,"y":707.2000427246094,"z":"49e8b19b.ef5878","wires":[["22f29671.0a03b2"]]},{"id":"f0f9548f.40f378","type":"function","name":"Gyroscope X","func":"if( msg.payload && msg.payload.hasOwnProperty( \"x\" ) )\n{\n    var value = msg.payload.x;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":655.1999053955078,"y":20,"z":"49e8b19b.ef5878","wires":[["9d5ef489.740598"]]},{"id":"9c42c7b3.63bd38","type":"debug","name":"","active":false,"console":"false","complete":"false","x":550.8957366943359,"y":817.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"742b6447.8bd49c","type":"switch","name":"","property":"topic","rules":[{"t":"eq","v":"sensorTag/gyroscope"},{"t":"eq","v":"sensorTag/accelerometer"},{"t":"eq","v":"sensorTag/magnetometer"},{"t":"eq","v":"sensorTag/humidity"},{"t":"eq","v":"sensorTag/temperature"},{"t":"eq","v":"sensorTag/pressure"},{"t":"eq","v":"sensorTag/luxometer"}],"checkall":"true","outputs":7,"x":263.8957214355469,"y":428.888916015625,"z":"49e8b19b.ef5878","wires":[["f0f9548f.40f378","dc9e62b4.2361a","1fd9f465.e0260c","d6076c.ff29f89"],["382f9cfb.c7d064","e9db22c.f1624e","44eb2c99.bb14d4","db5e8883.24a178"],["3c1458fb.c3eba8","6061012a.9f9f","354c6c.ffcab394","fa5ff308.05a01"],["69334709.96ccb8","cb2b7b49.34d488","43a612c1.bc59ec"],["82ac2238.7d53e","535b2a09.aca4d4","ad0ab416.52f548"],["5e3df682.a1c208","eaff933d.15007"],["fceaafca.03155","ca80cbbb.357f38"]]},{"id":"dc9e62b4.2361a","type":"function","name":"Gyroscope Y","func":"if( msg.payload && msg.payload.hasOwnProperty( \"y\" ) )\n{\n    var value = msg.payload.y;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":653.8957061767578,"y":51.68888854980469,"z":"49e8b19b.ef5878","wires":[["41f0451a.be0fbc"]]},{"id":"1fd9f465.e0260c","type":"function","name":"Gyroscope Z","func":"if( msg.payload && msg.payload.hasOwnProperty( \"z\" ) )\n{\n    var value = msg.payload.z;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":651.8957214355469,"y":84.68888854980469,"z":"49e8b19b.ef5878","wires":[["fde38187.021c8"]]},{"id":"41f0451a.be0fbc","type":"iot-datasource","name":"Gyroscope Y","historyCount":100,"x":827.8957366943359,"y":51.68888854980469,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"fde38187.021c8","type":"iot-datasource","name":"Gyroscope Z","historyCount":100,"x":825.8957366943359,"y":84.68888854980469,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"382f9cfb.c7d064","type":"function","name":"Acceleration X","func":"if( msg.payload && msg.payload.hasOwnProperty( \"x\" ) )\n{\n    var value = msg.payload.x;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":687.8957977294922,"y":118.88888549804688,"z":"49e8b19b.ef5878","wires":[["567591bf.a98a7"]]},{"id":"e9db22c.f1624e","type":"function","name":"Acceleration Y","func":"if( msg.payload && msg.payload.hasOwnProperty( \"y\" ) )\n{\n    var value = msg.payload.y;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":685.5915985107422,"y":152.57777404785156,"z":"49e8b19b.ef5878","wires":[["56873ba3.a978c4"]]},{"id":"44eb2c99.bb14d4","type":"function","name":"Acceleration Z","func":"if( msg.payload && msg.payload.hasOwnProperty( \"z\" ) )\n{\n    var value = msg.payload.z;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":685.5916137695312,"y":185.57777404785156,"z":"49e8b19b.ef5878","wires":[["e2ffbf43.1d004"]]},{"id":"e2ffbf43.1d004","type":"iot-datasource","name":"Acceleration Z","historyCount":100,"x":890.5916290283203,"y":185.57777404785156,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"56873ba3.a978c4","type":"iot-datasource","name":"Acceleration Y","historyCount":100,"x":890.5916290283203,"y":152.57777404785156,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"567591bf.a98a7","type":"iot-datasource","name":"Acceleration X","historyCount":100,"x":889.8958282470703,"y":118.88888549804688,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"3c1458fb.c3eba8","type":"function","name":"Magnetometer X","func":"if( msg.payload && msg.payload.hasOwnProperty( \"x\" ) )\n{\n    var value = msg.payload.x;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":670.8958129882812,"y":230.8888702392578,"z":"49e8b19b.ef5878","wires":[["af4a18f4.50b5e8"]]},{"id":"6061012a.9f9f","type":"function","name":"Magnetometer Y","func":"if( msg.payload && msg.payload.hasOwnProperty( \"y\" ) )\n{\n    var value = msg.payload.y;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":670.5916290283203,"y":263.5777587890625,"z":"49e8b19b.ef5878","wires":[["8ddaa730.722558"]]},{"id":"354c6c.ffcab394","type":"function","name":"Magnetometer Z","func":"if( msg.payload && msg.payload.hasOwnProperty( \"z\" ) )\n{\n    var value = msg.payload.z;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":671.5916442871094,"y":296.5777587890625,"z":"49e8b19b.ef5878","wires":[["bfe5a0c3.401a6"]]},{"id":"af4a18f4.50b5e8","type":"iot-datasource","name":"Magnetometer X","historyCount":100,"x":878.8958587646484,"y":230.8888702392578,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"8ddaa730.722558","type":"iot-datasource","name":"Magnetometer Y","historyCount":100,"x":878.5916595458984,"y":263.5777587890625,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"bfe5a0c3.401a6","type":"iot-datasource","name":"Magnetometer Z","historyCount":100,"x":877.5916595458984,"y":296.5777587890625,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"69334709.96ccb8","type":"function","name":"Humidity-temp","func":"if( msg.payload && msg.payload.hasOwnProperty( \"temp\" ) )\n{\n    var value = msg.payload.temp;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":735.8957977294922,"y":339.8888854980469,"z":"49e8b19b.ef5878","wires":[["35b6c223.ca493e"]]},{"id":"35b6c223.ca493e","type":"iot-datasource","name":"Humidity-temp","historyCount":100,"x":925.8957977294922,"y":339.8888854980469,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"82ac2238.7d53e","type":"function","name":"Temp-object","func":"if( msg.payload && msg.payload.hasOwnProperty( \"object\" ) )\n{\n    var value = msg.payload.object;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":692.8957366943359,"y":409.8889465332031,"z":"49e8b19b.ef5878","wires":[["7159cce7.8ea634"]]},{"id":"7159cce7.8ea634","type":"iot-datasource","name":"Temp-object","historyCount":100,"x":891.8957977294922,"y":409.888916015625,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"5e3df682.a1c208","type":"function","name":"Pressure","func":"if( msg.payload && msg.payload.hasOwnProperty( \"pres\" ) )\n{\n    var value = msg.payload.pres;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":749.8957366943359,"y":485.888916015625,"z":"49e8b19b.ef5878","wires":[["38eb433e.c714bc"]]},{"id":"38eb433e.c714bc","type":"iot-datasource","name":"Pressure","historyCount":100,"x":904.8957977294922,"y":485.888916015625,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"fceaafca.03155","type":"function","name":"Luxometer","func":"if( msg.payload && msg.payload.hasOwnProperty( \"lux\" ) )\n{\n    var value = msg.payload.lux;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":775.8957977294922,"y":521.8889465332031,"z":"49e8b19b.ef5878","wires":[["e20449f8.1dfbb8"]]},{"id":"e20449f8.1dfbb8","type":"iot-datasource","name":"Luxometer","historyCount":100,"x":946.8957977294922,"y":521.8889465332031,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"d6076c.ff29f89","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":419.89573669433594,"y":34.888885498046875,"z":"49e8b19b.ef5878","wires":[]},{"id":"db5e8883.24a178","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":420.89573669433594,"y":67.88888549804688,"z":"49e8b19b.ef5878","wires":[]},{"id":"fa5ff308.05a01","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":419.89573669433594,"y":100.88888549804688,"z":"49e8b19b.ef5878","wires":[]},{"id":"cb2b7b49.34d488","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":472.8957977294922,"y":515.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"535b2a09.aca4d4","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":471.8957977294922,"y":548.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"eaff933d.15007","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":470.8957977294922,"y":581.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"ca80cbbb.357f38","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":468.8957977294922,"y":615.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"43a612c1.bc59ec","type":"function","name":"Humidity-humidity","func":"if( msg.payload && msg.payload.hasOwnProperty( \"humidity\" ) )\n{\n    var value = msg.payload.humidity;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":744.8957977294922,"y":372.8888854980469,"z":"49e8b19b.ef5878","wires":[["28e8479a.d717b8"]]},{"id":"ad0ab416.52f548","type":"function","name":"Temp-ambient","func":"if( msg.payload && msg.payload.hasOwnProperty( \"ambient\" ) )\n{\n    var value = msg.payload.ambient;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":698.8958129882812,"y":442.888916015625,"z":"49e8b19b.ef5878","wires":[["334b63c0.ccb49c"]]},{"id":"28e8479a.d717b8","type":"iot-datasource","name":"Humidity-humidity","historyCount":100,"x":936.8957977294922,"y":372.8888854980469,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"334b63c0.ccb49c","type":"iot-datasource","name":"Temp-ambient","historyCount":100,"x":896.8958129882812,"y":442.888916015625,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"c6f6e909.390918","type":"switch","name":"","property":"topic","rules":[{"t":"eq","v":"sensorTag/gyroscope"},{"t":"eq","v":"sensorTag/accelerometer"},{"t":"eq","v":"sensorTag/magnetometer"},{"t":"eq","v":"sensorTag/humidity"},{"t":"eq","v":"sensorTag/temperature"},{"t":"eq","v":"sensorTag/pressure"},{"t":"eq","v":"sensorTag/luxometer"}],"checkall":"true","outputs":7,"x":268.89576721191406,"y":666.8889465332031,"z":"49e8b19b.ef5878","wires":[[],[],[],[],["32aeec97.e83034"],["32aeec97.e83034"],[]]},{"id":"4142b483.bebd4c","type":"switch","name":"","property":"topic","rules":[{"t":"eq","v":"sensorTag/gyroscope"},{"t":"eq","v":"sensorTag/accelerometer"},{"t":"eq","v":"sensorTag/magnetometer"},{"t":"eq","v":"sensorTag/humidity"},{"t":"eq","v":"sensorTag/temperature"},{"t":"eq","v":"sensorTag/pressure"},{"t":"eq","v":"sensorTag/luxometer"}],"checkall":"true","outputs":7,"x":262.8958282470703,"y":793.8889465332031,"z":"49e8b19b.ef5878","wires":[[],[],[],[],["9c42c7b3.63bd38"],["9c42c7b3.63bd38"],[]]},{"id":"86ca874d.793578","type":"comment","name":"Add ibmiot Out Node To publish to IoT Foundation","info":"","x":859.8957977294922,"y":248.88888549804688,"z":"92194a4a.6de6b8","wires":[]},{"id":"56e6d48c.a9192c","type":"comment","name":"Add timeseries simple Out Node To Post to Cloud DB","info":"","x":883.8957977294922,"y":433.8888854980469,"z":"92194a4a.6de6b8","wires":[]},{"id":"40606d4.fbf9f94","type":"comment","name":"Add ibmiot In node to Retrieve data from IoT Foundation","info":"","x":227.8958282470703,"y":245.88888549804688,"z":"6896a9.ff976958","wires":[]}]