pi/flows/flows_raspberrypi.json
[{"type":"tab","id":"49e8b19b.ef5878","label":"BLE - Insert DB"},{"type":"tab","id":"92194a4a.6de6b8","label":"BLE - Publish to Cloud"},{"type":"tab","id":"6896a9.ff976958","label":"BLE - Subcribe to Cloud"},{"id":"884e159a.0272a8","type":"timeseries","hostname":"localhost","port":"27018","db":"iot","name":""},{"id":"e6c1a4c5.193e58","type":"mqtt-broker","broker":"iot.eclipse.org","port":"1883","clientid":""},{"id":"fe077019.f6017","type":"ibmiot","name":"Test App"},{"id":"f3773c7.d4980c","type":"http response","name":"","x":277.1999969482422,"y":175.1999969482422,"z":"49e8b19b.ef5878","wires":[]},{"id":"12708239.8d38ee","type":"debug","name":"","active":true,"console":"false","complete":"false","x":294.1999969482422,"y":302.1999969482422,"z":"49e8b19b.ef5878","wires":[]},{"id":"22f29671.0a03b2","type":"timeseries out","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","x":340.20001220703125,"y":234.1999969482422,"z":"49e8b19b.ef5878","wires":[]},{"id":"a190f6b4.5e6f08","type":"http in","name":"","url":"/ble","method":"post","x":95,"y":236,"z":"49e8b19b.ef5878","wires":[["12708239.8d38ee","f3773c7.d4980c","22f29671.0a03b2"]]},{"id":"d0153d36.2feac","type":"timeseries in","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","tscolumn":"data","unit":"years","range":"1","calendarRange":"1","calendarUnit":"year","ids":"id","timeType":"current_time","mode":"continuous","rules":[{"t":"AVG","v":"accelX"}],"x":172.00001525878906,"y":254,"z":"92194a4a.6de6b8","wires":[["73e657ed.2e436"]]},{"id":"4ce1b545.b31e4c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":134.00001525878906,"y":125.99998474121094,"z":"92194a4a.6de6b8","wires":[["c808b4fe.2e53b8"]]},{"id":"7f6e83bb.80917c","type":"comment","name":"Read BLE Data and Insert into Database","info":"Read BLE data from readBle.js program then\nposting to node-red.  This payload is then\ninserted into the Timeseries Database.","x":323,"y":45,"z":"49e8b19b.ef5878","wires":[]},{"id":"182e7766.e7d189","type":"comment","name":"Summarize data from the Timeseries Database and Publish to the Cloud","info":"Query data from the Timeseries Database and\nsummarize the data.  Then Publish that payload\nto the cloud.","x":333,"y":86,"z":"92194a4a.6de6b8","wires":[]},{"id":"1ad3a325.e52c5d","type":"comment","name":"Sample - Subscribe to MQTT and display","info":"","x":293,"y":105,"z":"6896a9.ff976958","wires":[]},{"id":"c808b4fe.2e53b8","type":"function","name":"","func":"msg.payload = {\"id\": \"00d0c9e9ce64.bc6a29abe4f1\"};\nreturn msg;","outputs":1,"valid":true,"x":124.19999694824219,"y":189.1999969482422,"z":"92194a4a.6de6b8","wires":[["d0153d36.2feac"]]},{"id":"73e657ed.2e436","type":"iot-foundation","name":"","x":386.20001220703125,"y":251.1999969482422,"z":"92194a4a.6de6b8","wires":[["5c96df5b.6a0578"]]},{"id":"5c96df5b.6a0578","type":"json","name":"","x":531.2000122070312,"y":251.20001220703125,"z":"92194a4a.6de6b8","wires":[["2212835d.f04834"]]},{"id":"2212835d.f04834","type":"ibmiot out","authentication":"apiKey","apiKey":"fe077019.f6017","outputType":"evt","deviceId":"00d0c9e9ce65","deviceType":"dk300","eventCommandType":"sensortag","format":"json","data":"data points","name":"IBM IoT App Out","service":"registered","x":693.1999816894531,"y":250.20001220703125,"z":"92194a4a.6de6b8","wires":[]},{"id":"a50333fc.d7c56","type":"ibmiot in","authentication":"apiKey","apiKey":"fe077019.f6017","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":192.1999969482422,"y":244.1999969482422,"z":"6896a9.ff976958","wires":[["9fd8f42.20ef288"]]},{"id":"9fd8f42.20ef288","type":"debug","name":"","active":true,"console":"false","complete":"false","x":426.20001220703125,"y":242.1999969482422,"z":"6896a9.ff976958","wires":[]}]