pi/flows/flows_version_1.json
[{"type":"tab","id":"49e8b19b.ef5878","label":"BLE - Insert DB"},{"type":"tab","id":"92194a4a.6de6b8","label":"BLE - Publish to Cloud"},{"type":"tab","id":"6896a9.ff976958","label":"BLE - Subcribe to Cloud"},{"type":"tab","id":"87f482e0.a2b39","label":"performance test url"},{"id":"e6c1a4c5.193e58","type":"mqtt-broker","broker":"iot.eclipse.org","port":"1883","clientid":""},{"id":"fe077019.f6017","type":"ibmiot","name":"Test App"},{"id":"884e159a.0272a8","type":"timeseries","hostname":"localhost","port":"27018","db":"iot","name":""},{"id":"22f29671.0a03b2","type":"timeseries out","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","x":702.2000122070312,"y":411.20001220703125,"z":"49e8b19b.ef5878","wires":[]},{"id":"d0153d36.2feac","type":"timeseries in","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","tscolumn":"data","unit":"seconds","range":"15","calendarRange":"15","calendarUnit":"second","ids":"id","timeType":"current_time","mode":"continuous","rules":[{"t":"AVG","v":"magx"}],"x":168.0000457763672,"y":245.99998474121094,"z":"92194a4a.6de6b8","wires":[["694b59cb.5a36a8","d5cb8070.7dd28"]]},{"id":"7f6e83bb.80917c","type":"comment","name":"Read BLE Data and Insert into Database","info":"Read BLE data from readBle.js program then\nposting to node-red.  This payload is then\ninserted into the Timeseries Database.","x":323,"y":45,"z":"49e8b19b.ef5878","wires":[]},{"id":"182e7766.e7d189","type":"comment","name":"Summarize data from the Timeseries Database and Publish to the Cloud","info":"Query data from the Timeseries Database and\nsummarize the data.  Then Publish that payload\nto the cloud.","x":333,"y":86,"z":"92194a4a.6de6b8","wires":[]},{"id":"1ad3a325.e52c5d","type":"comment","name":"Sample - Subscribe to MQTT and display","info":"","x":293,"y":105,"z":"6896a9.ff976958","wires":[]},{"id":"c808b4fe.2e53b8","type":"function","name":"","func":"msg.payload = {\"id\": \"b827eb8e56b.bc6a29ab5c75.4\"};\nreturn msg;","outputs":1,"x":124.19999694824219,"y":189.1999969482422,"z":"92194a4a.6de6b8","wires":[["d0153d36.2feac"]]},{"id":"5c96df5b.6a0578","type":"json","name":"","x":531.2000122070312,"y":251.20001220703125,"z":"92194a4a.6de6b8","wires":[["2212835d.f04834"]]},{"id":"2212835d.f04834","type":"ibmiot out","authentication":"apiKey","apiKey":"fe077019.f6017","outputType":"evt","deviceId":"00d0c9e9ce65","deviceType":"dk300","eventCommandType":"sensortag","format":"json","data":"test","name":"IBM IoT App Out","service":"registered","x":693.1999816894531,"y":250.20001220703125,"z":"92194a4a.6de6b8","wires":[]},{"id":"a50333fc.d7c56","type":"ibmiot in","authentication":"apiKey","apiKey":"fe077019.f6017","inputType":"evt","deviceId":"00d0c9e9ce65","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":192.1999969482422,"y":244.1999969482422,"z":"6896a9.ff976958","wires":[["9fd8f42.20ef288"]]},{"id":"9fd8f42.20ef288","type":"debug","name":"","active":true,"console":"false","complete":"false","x":366.20001220703125,"y":244.1999969482422,"z":"6896a9.ff976958","wires":[]},{"id":"283c57de.1e0d9","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.1999969482422,"y":330.20001220703125,"z":"92194a4a.6de6b8","wires":[["71c2f89.eec2988"]]},{"id":"71c2f89.eec2988","type":"function","name":"","func":"msg.payload = {\"id\": \"00d0c9e9ce64.bc6a29ab5c75\"};\nreturn msg;","outputs":1,"x":135.1999969482422,"y":377.1999969482422,"z":"92194a4a.6de6b8","wires":[["f7039f9e.b30e"]]},{"id":"f7039f9e.b30e","type":"timeseries in","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","tscolumn":"data","unit":"seconds","range":"1","calendarRange":"1","calendarUnit":"second","ids":"id","timeType":"current_time","mode":"continuous","rules":[{"t":"AVG","v":"accelY"}],"x":174.1999969482422,"y":442.20001220703125,"z":"92194a4a.6de6b8","wires":[["b9079776.56a468","6f98880d.dd205"]]},{"id":"ff1c175e.761e8","type":"json","name":"","x":548.2000122070312,"y":435.20001220703125,"z":"92194a4a.6de6b8","wires":[["97f35dae.220898"]]},{"id":"97f35dae.220898","type":"ibmiot out","authentication":"apiKey","apiKey":"fe077019.f6017","outputType":"evt","deviceId":"bc6a29ab5c75","deviceType":"dk300","eventCommandType":"sensortag","format":"json","data":"test","name":"IBM IoT App Out","service":"registered","x":740.2000122070312,"y":433.20001220703125,"z":"92194a4a.6de6b8","wires":[]},{"id":"801d9edb.dc715","type":"ibmiot in","authentication":"apiKey","apiKey":"fe077019.f6017","inputType":"evt","deviceId":"bc6a29ab5c75","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":194.1999969482422,"y":333.20001220703125,"z":"6896a9.ff976958","wires":[["610c63f5.1e3edc"]]},{"id":"610c63f5.1e3edc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":370.20001220703125,"y":333.20001220703125,"z":"6896a9.ff976958","wires":[]},{"id":"694b59cb.5a36a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":393.20001220703125,"y":194.1999969482422,"z":"92194a4a.6de6b8","wires":[]},{"id":"b9079776.56a468","type":"debug","name":"","active":false,"console":"false","complete":"false","x":412.1999969482422,"y":376.1999969482422,"z":"92194a4a.6de6b8","wires":[]},{"id":"5ea624d7.8aed4c","type":"http in","name":"","url":"/performancetest","method":"post","x":103.5,"y":137,"z":"87f482e0.a2b39","wires":[["b84bd68f.d1b8e"]]},{"id":"b84bd68f.d1b8e","type":"http response","name":"200","x":328.7000274658203,"y":137,"z":"87f482e0.a2b39","wires":[]},{"id":"65bfff82.28a1d","type":"http in","name":"","url":"/performancetest2","method":"post","x":105.5,"y":216.00001525878906,"z":"87f482e0.a2b39","wires":[["bee86024.2f45d8"]]},{"id":"2d56c956.e2586e","type":"http response","name":"200","x":466.7000274658203,"y":215.00001525878906,"z":"87f482e0.a2b39","wires":[]},{"id":"bee86024.2f45d8","type":"function","name":"add","func":"for (var i = 0; i < msg.payload.length; i++) {\n    for (var color in msg.payload[i]) {\n        msg.payload[i][color] += 1;\n    }\n}\nreturn msg;","outputs":1,"x":307.50001525878906,"y":215.00001525878906,"z":"87f482e0.a2b39","wires":[["2d56c956.e2586e"]]},{"id":"c362b2ef.3c9d5","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":129,"z":"92194a4a.6de6b8","wires":[["c808b4fe.2e53b8"]]},{"id":"d5cb8070.7dd28","type":"iotf-transform","name":"","x":375.20001220703125,"y":245.1999969482422,"z":"92194a4a.6de6b8","wires":[["5c96df5b.6a0578"]]},{"id":"6f98880d.dd205","type":"iotf-transform","name":"","x":391.20001220703125,"y":431.20001220703125,"z":"92194a4a.6de6b8","wires":[["ff1c175e.761e8"]]},{"id":"a16ec227.ec19a8","type":"sensorTag","name":"sensorTag","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"magnetometerPeriod":1000,"accelerometer":true,"accelerometerPeriod":1000,"gyroscope":true,"gyroscopePeriod":1000,"luxometer":true,"luxometerPeriod":1000,"keys":true,"x":157.1999969482422,"y":323.20001220703125,"z":"49e8b19b.ef5878","wires":[["32aeec97.e83034","f0f9548f.40f378"]]},{"id":"9d5ef489.740598","type":"iot-datasource","name":"","historyCount":100,"x":657.2000122070312,"y":239.1999969482422,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"32aeec97.e83034","type":"sensortag-transform","name":"","x":386.20001220703125,"y":411.20001220703125,"z":"49e8b19b.ef5878","wires":[["22f29671.0a03b2"]]},{"id":"f0f9548f.40f378","type":"function","name":"","func":"if( msg.payload && msg.payload.hasOwnProperty( \"x\" ) )\n{\n    var value = msg.payload.x;\n    msg = {};\n    msg.payload = [\n        ( new Date() ).getTime(),\n        value\n    ];\n}\nelse msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":384.1999969482422,"y":239.1999969482422,"z":"49e8b19b.ef5878","wires":[["9d5ef489.740598"]]}]