flows/.flows_raspberrypi.json.backup
[{"type":"tab","id":"49e8b19b.ef5878","label":"BLE - Insert DB"},{"type":"tab","id":"92194a4a.6de6b8","label":"BLE - Publish to Cloud"},{"type":"tab","id":"6896a9.ff976958","label":"BLE - Subcribe to Cloud"},{"type":"tab","id":"ec0c2c36.13f3d","label":"freeboard"},{"id":"884e159a.0272a8","type":"timeseries","hostname":"127.0.0.1","port":"27018","db":"iot","name":""},{"id":"e6c1a4c5.193e58","type":"mqtt-broker","broker":"iot.eclipse.org","port":"1883","clientid":""},{"id":"f3773c7.d4980c","type":"http response","name":"","x":277.1999969482422,"y":175.1999969482422,"z":"49e8b19b.ef5878","wires":[]},{"id":"12708239.8d38ee","type":"debug","name":"","active":true,"console":"false","complete":"false","x":294.1999969482422,"y":302.1999969482422,"z":"49e8b19b.ef5878","wires":[]},{"id":"22f29671.0a03b2","type":"timeseries out","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","x":340.20001220703125,"y":234.1999969482422,"z":"49e8b19b.ef5878","wires":[]},{"id":"a190f6b4.5e6f08","type":"http in","name":"","url":"/ble","method":"post","x":95,"y":236,"z":"49e8b19b.ef5878","wires":[["12708239.8d38ee","f3773c7.d4980c","22f29671.0a03b2"]]},{"id":"d0153d36.2feac","type":"timeseries in","name":"","baseTimeSeriesTable":"","tscolumn":"","unit":"","range":"","calendarRange":"","calendarUnit":"","ids":"","timeType":"","mode":"","rules":[{"t":"","v":""}],"x":310,"y":253,"z":"92194a4a.6de6b8","wires":[["4f37a50e.b0c85c","46ce5864.b931a8"]]},{"id":"4f37a50e.b0c85c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":515,"y":337,"z":"92194a4a.6de6b8","wires":[]},{"id":"4ce1b545.b31e4c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":253,"z":"92194a4a.6de6b8","wires":[[]]},{"id":"46ce5864.b931a8","type":"mqtt out","name":"Publish IotKit-Test","topic":"IotKit-Test","qos":"","retain":"","broker":"e6c1a4c5.193e58","x":508,"y":253,"z":"92194a4a.6de6b8","wires":[]},{"id":"dc2c3843.23d3c8","type":"mqtt in","name":"","topic":"Subscribe IotKit-Test","broker":"e6c1a4c5.193e58","x":175,"y":261,"z":"6896a9.ff976958","wires":[["a3041878.5cfbe8"]]},{"id":"a3041878.5cfbe8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":374,"y":261,"z":"6896a9.ff976958","wires":[]},{"id":"7f6e83bb.80917c","type":"comment","name":"Read BLE Data and Insert into Database","info":"Read BLE data from readBle.js program then\nposting to node-red.  This payload is then\ninserted into the Timeseries Database.","x":323,"y":45,"z":"49e8b19b.ef5878","wires":[]},{"id":"182e7766.e7d189","type":"comment","name":"Summarize data from the Timeseries Database and Publish to the Cloud","info":"Query data from the Timeseries Database and\nsummarize the data.  Then Publish that payload\nto the cloud.","x":333,"y":86,"z":"92194a4a.6de6b8","wires":[]},{"id":"1ad3a325.e52c5d","type":"comment","name":"Sample - Subscribe to MQTT and display","info":"","x":293,"y":105,"z":"6896a9.ff976958","wires":[]},{"id":"21dd54cb.de22ac","type":"inject","name":"Send Random Value","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":221,"y":193,"z":"ec0c2c36.13f3d","wires":[["d653c05.f29ac4"]]},{"id":"d653c05.f29ac4","type":"function","name":"Random Generator","func":"msg.payload={value:Math.floor(Math.random()*100), \n    value1:Math.floor(Math.random()*50)\n};\nreturn msg;","outputs":1,"valid":true,"x":451,"y":195,"z":"ec0c2c36.13f3d","wires":[["68b79de2.974864","c51038d.f3aefc8"]]},{"id":"68b79de2.974864","type":"debug","name":"","active":true,"console":"false","complete":"false","x":676,"y":268,"z":"ec0c2c36.13f3d","wires":[]},{"id":"c51038d.f3aefc8","type":"freeboard","name":"","x":720,"y":187,"z":"ec0c2c36.13f3d","wires":[]}]