flows/flows_version_1.json
[{"type":"tab","id":"49e8b19b.ef5878","label":"BLE - Insert DB"},{"type":"tab","id":"92194a4a.6de6b8","label":"BLE - Publish to Cloud"},{"type":"tab","id":"6896a9.ff976958","label":"BLE - Subcribe to Cloud"},{"id":"884e159a.0272a8","type":"timeseries","hostname":"localhost","port":"27018","db":"iot","name":""},{"id":"d0153d36.2feac","type":"timeseries in","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","tscolumn":"data","unit":"seconds","range":"15","calendarRange":"15","calendarUnit":"second","ids":"id","filter_id":"","timeType":"current_time","mode":"continuous","rules":[{"t":"AVG","v":"ambient"}],"x":168.0000457763672,"y":245.99998474121094,"z":"92194a4a.6de6b8","wires":[["d5cb8070.7dd28","694b59cb.5a36a8"]]},{"id":"7f6e83bb.80917c","type":"comment","name":"Read BLE Data and Insert into Database","info":"Read BLE data from readBle.js program then\nposting to node-red.  This payload is then\ninserted into the Timeseries Database.","x":180,"y":38,"z":"49e8b19b.ef5878","wires":[]},{"id":"182e7766.e7d189","type":"comment","name":"Summarize data from the Timeseries Database and Publish to the Cloud","info":"Query data from the Timeseries Database and\nsummarize the data.  Then Publish that payload\nto the cloud.","x":333,"y":86,"z":"92194a4a.6de6b8","wires":[]},{"id":"1ad3a325.e52c5d","type":"comment","name":"Sample - Subscribe to MQTT and display","info":"","x":180,"y":120,"z":"6896a9.ff976958","wires":[]},{"id":"5c96df5b.6a0578","type":"json","name":"","x":536.1999969482422,"y":245.20001220703125,"z":"92194a4a.6de6b8","wires":[[]]},{"id":"9fd8f42.20ef288","type":"debug","name":"","active":true,"console":"false","complete":"false","x":548.1999969482422,"y":245.1999969482422,"z":"6896a9.ff976958","wires":[]},{"id":"283c57de.1e0d9","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.1999969482422,"y":330.20001220703125,"z":"92194a4a.6de6b8","wires":[["f7039f9e.b30e"]]},{"id":"f7039f9e.b30e","type":"timeseries in","timeseries":"884e159a.0272a8","name":"","baseTimeSeriesTable":"sensors","tscolumn":"data","unit":"seconds","range":"1","calendarRange":"1","calendarUnit":"second","ids":"id","filter_id":"","timeType":"current_time","mode":"continuous","rules":[{"t":"AVG","v":"ambient"}],"x":174.1999969482422,"y":442.20001220703125,"z":"92194a4a.6de6b8","wires":[["b9079776.56a468","6f98880d.dd205"]]},{"id":"ff1c175e.761e8","type":"json","name":"","x":548.2000122070312,"y":435.20001220703125,"z":"92194a4a.6de6b8","wires":[[]]},{"id":"694b59cb.5a36a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":393.20001220703125,"y":194.1999969482422,"z":"92194a4a.6de6b8","wires":[]},{"id":"b9079776.56a468","type":"debug","name":"","active":false,"console":"false","complete":"false","x":412.1999969482422,"y":376.1999969482422,"z":"92194a4a.6de6b8","wires":[]},{"id":"c362b2ef.3c9d5","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":129,"z":"92194a4a.6de6b8","wires":[["d0153d36.2feac"]]},{"id":"d5cb8070.7dd28","type":"iotf-transform","name":"","x":375.20001220703125,"y":245.1999969482422,"z":"92194a4a.6de6b8","wires":[["5c96df5b.6a0578"]]},{"id":"6f98880d.dd205","type":"iotf-transform","name":"","x":391.20001220703125,"y":431.20001220703125,"z":"92194a4a.6de6b8","wires":[["ff1c175e.761e8"]]},{"id":"742b6447.8bd49c","type":"switch","name":"","property":"sensor","rules":[{"t":"eq","v":"gyroscope"},{"t":"eq","v":"accelerometer"},{"t":"eq","v":"magnetometer"},{"t":"eq","v":"humidity"},{"t":"eq","v":"temperature"},{"t":"eq","v":"pressure"},{"t":"eq","v":"luxometer"}],"checkall":"false","outputs":7,"x":290,"y":360,"z":"49e8b19b.ef5878","wires":[["d6076c.ff29f89","507c5b7d.af83a4"],["db5e8883.24a178","493725b.fb6c8dc"],["fa5ff308.05a01","7e8a16c7.8175e8"],["cb2b7b49.34d488","f0c80c.ff0f37f"],["535b2a09.aca4d4","31707b3b.ce8f84"],["eaff933d.15007","14ba126f.eb45ee"],["ca80cbbb.357f38","c42e7060.3bd19"]]},{"id":"d6076c.ff29f89","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":419.89573669433594,"y":34.888885498046875,"z":"49e8b19b.ef5878","wires":[]},{"id":"db5e8883.24a178","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":420.89573669433594,"y":67.88888549804688,"z":"49e8b19b.ef5878","wires":[]},{"id":"fa5ff308.05a01","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":419.89573669433594,"y":100.88888549804688,"z":"49e8b19b.ef5878","wires":[]},{"id":"cb2b7b49.34d488","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":472.8957977294922,"y":515.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"535b2a09.aca4d4","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":471.8957977294922,"y":548.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"eaff933d.15007","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":470.8957977294922,"y":581.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"ca80cbbb.357f38","type":"debug","name":"Debug","active":false,"console":"false","complete":"payload","x":468.8957977294922,"y":615.8889465332031,"z":"49e8b19b.ef5878","wires":[]},{"id":"86ca874d.793578","type":"comment","name":"Add ibmiot Out Node To publish to IoT Foundation","info":"","x":859.8957977294922,"y":248.88888549804688,"z":"92194a4a.6de6b8","wires":[]},{"id":"56e6d48c.a9192c","type":"comment","name":"Add timeseries simple Out Node To Post to Cloud DB","info":"","x":883.8957977294922,"y":433.8888854980469,"z":"92194a4a.6de6b8","wires":[]},{"id":"40606d4.fbf9f94","type":"comment","name":"Add ibmiot In node to Retrieve data from IoT Foundation","info":"","x":227.8958282470703,"y":245.88888549804688,"z":"6896a9.ff976958","wires":[]},{"id":"22f29671.0a03b2","type":"timeseries out","timeseries":"884e159a.0272a8","name":"Insert Timeseries","baseTimeSeriesTable":"sensors","x":526.2002563476562,"y":713.2000122070312,"z":"49e8b19b.ef5878","wires":[]},{"id":"f3c709ff.0c38f8","type":"sensorTag","name":"sensorTag","devices":[],"temperature":true,"humidity":false,"pressure":false,"magnetometer":false,"magnetometerPeriod":"","accelerometer":true,"accelerometerPeriod":"1000","gyroscope":false,"gyroscopePeriod":"","luxometer":true,"luxometerPeriod":1000,"keys":false,"x":99,"y":360,"z":"49e8b19b.ef5878","wires":[["742b6447.8bd49c","e57721c6.1a88e"]]},{"id":"493725b.fb6c8dc","type":"iot-datasource","name":"Accelerometer","tstampField":"tstamp.$date","dataField":"json_data","disableDiscover":false,"x":634.5,"y":280,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"507c5b7d.af83a4","type":"iot-datasource","name":"Gyroscope","tstampField":"tstamp.$date","dataField":"json_data","disableDiscover":false,"x":623,"y":240,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"7e8a16c7.8175e8","type":"iot-datasource","name":"Magnetometer","tstampField":"tstamp.$date","dataField":"json_data","disableDiscover":false,"x":635,"y":320,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"31707b3b.ce8f84","type":"iot-datasource","name":"Temperature","tstampField":"tstamp.$date","dataField":"json_data","disableDiscover":false,"x":630,"y":400,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"f0c80c.ff0f37f","type":"iot-datasource","name":"Humidity","tstampField":"tstamp.$date","dataField":"json_data","disableDiscover":false,"x":616,"y":360,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"14ba126f.eb45ee","type":"iot-datasource","name":"Pressure","tstampField":"tstamp.$date","dataField":"json_data","disableDiscover":false,"x":617,"y":440,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"c42e7060.3bd19","type":"iot-datasource","name":"Luxometer","tstampField":"tstamp.$date","dataField":"json_data","disableDiscover":false,"x":622.5,"y":480,"z":"49e8b19b.ef5878","wires":[[]]},{"id":"e57721c6.1a88e","type":"switch","name":"","property":"sensor","rules":[{"t":"eq","v":"gyroscope"},{"t":"eq","v":"accelerometer"},{"t":"eq","v":"magnetometer"},{"t":"eq","v":"humidity"},{"t":"eq","v":"temperature"},{"t":"eq","v":"pressure"},{"t":"eq","v":"luxometer"}],"checkall":"false","outputs":7,"x":290,"y":700,"z":"49e8b19b.ef5878","wires":[[],[],[],[],["22f29671.0a03b2"],[],[]]}]