flows/zwaveFlow.json
[{"id":"bd65be0c.429a4","type":"mqtt-broker","broker":"50.23.106.210","port":"1883","clientid":""},{"id":"765b0ce.4bbe0f4","type":"timeseries","hostname":"localhost","port":"27018","db":"iot_demo","name":""},{"id":"a29130ea.f153c","type":"http in","name":"","url":"/zwave","method":"post","x":105.19999694824219,"y":170.20001220703125,"z":"46079847.90c56","wires":[["d96d450c.b7a458","7d2b8df.6fbf2f4","1fad10c0.56f40f"]]},{"id":"d96d450c.b7a458","type":"http response","name":"","x":277.4000244140625,"y":114.19999694824219,"z":"46079847.90c56","wires":[]},{"id":"1fad10c0.56f40f","type":"function","name":"Filter Data (Power)","func":"var jsonData = JSON.parse(msg.payload);\n\n\nif (jsonData[\"json_data\"][\"label\"] == \"Power\") {\n  return msg;  \n}\n\n","outputs":1,"valid":true,"x":315.1999969482422,"y":170,"z":"46079847.90c56","wires":[["9a587659.d5a36","36f75c07.735ad4","283c1d27.d7c3e2"]]},{"id":"7d2b8df.6fbf2f4","type":"debug","name":"","active":false,"console":"false","complete":"false","x":297.20001220703125,"y":231.99998474121094,"z":"46079847.90c56","wires":[]},{"id":"9a587659.d5a36","type":"debug","name":"","active":false,"console":"false","complete":"false","x":535.2000122070312,"y":225.99998474121094,"z":"46079847.90c56","wires":[]},{"id":"36f75c07.735ad4","type":"timeseries out","timeseries":"765b0ce.4bbe0f4","name":"","baseTimeSeriesTable":"sensors","payonly":false,"upsert":false,"multi":false,"operation":"store","x":606.2000122070312,"y":169,"z":"46079847.90c56","wires":[]},{"id":"283c1d27.d7c3e2","type":"function","name":"Power Trigger","func":"var jsonData = JSON.parse(msg.payload);\n\nif (jsonData[\"json_data\"][\"value\"]  < 35) {\n  return msg;  \n}\n\n","outputs":1,"valid":true,"x":543,"y":104,"z":"46079847.90c56","wires":[["af0a69fa.655b98"]]},{"id":"af0a69fa.655b98","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":720.2000122070312,"y":104,"z":"46079847.90c56","wires":[]},{"id":"310eb1bc.35ac8e","type":"inject","name":"Run on 15 Min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":97.20001220703125,"y":315,"z":"46079847.90c56","wires":[["68adb1fe.97525"]]},{"id":"68adb1fe.97525","type":"function","name":"Aggreg for ID:1","func":"msg.payload={\"id\":1};\nreturn msg;","outputs":1,"valid":true,"x":271,"y":315,"z":"46079847.90c56","wires":[["506ceeca.7e297"]]},{"id":"506ceeca.7e297","type":"timeseries in","timeseries":"765b0ce.4bbe0f4","name":"15Min Avg","baseTimeSeriesTable":"sensors","tscolumn":"data","tscolumnvalue":"json_data.value","stat":"AVG","grouping":"","unit":"minutes","range":"15","calendarRange":"15","calendarUnit":"minute","ids":"id","x":439.20001220703125,"y":313,"z":"46079847.90c56","wires":[["9b37a4f4.a123c","7c22d740.83dd28"]]},{"id":"76e43675.891bc8","type":"comment","name":"Send Data to the Cloud","info":"","x":681,"y":272,"z":"46079847.90c56","wires":[]},{"id":"7c22d740.83dd28","type":"mqtt out","name":"PUB (gateway-send)","topic":"gateway-send","qos":"","retain":"","broker":"bd65be0c.429a4","x":681,"y":314,"z":"46079847.90c56","wires":[]},{"id":"9b37a4f4.a123c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":628.2000122070312,"y":370,"z":"46079847.90c56","wires":[]},{"id":"8ac48a65.753b78","type":"comment","name":"Receive Data from the Cloud","info":"","x":313,"y":405,"z":"46079847.90c56","wires":[]},{"id":"218c2c58.de73d4","type":"mqtt in","name":"SUB (gateway-send)","topic":"gateway-send","broker":"bd65be0c.429a4","x":308,"y":450,"z":"46079847.90c56","wires":[["e6431b4d.19bce8"]]},{"id":"e6431b4d.19bce8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":520,"y":480,"z":"46079847.90c56","wires":[]},{"id":"4c049b99.b3fb64","type":"mqtt in","name":"SUB (gateway-recv)","topic":"gateway-recv","broker":"bd65be0c.429a4","x":298,"y":516,"z":"46079847.90c56","wires":[["111f127.feee0ee"]]},{"id":"111f127.feee0ee","type":"debug","name":"","active":true,"console":"false","complete":"false","x":510,"y":548,"z":"46079847.90c56","wires":[]}]